
.container {
  width: 100%;
}
.wrapper{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  margin-bottom: 6rem;
}
.destinations {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 420px;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.destinations h1{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #075f93;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;

  margin-bottom: 5px;
}

.destinations h1:hover {
  opacity: 0.7;
}
.options{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}