 
 .demo-usa{
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
 }
 

.usa-body{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}
.usa-body img{
    width: 50%;
   
}
.moretoknow{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.usa-home {
    margin-bottom: 2rem;
    display: block;
}

  
    .usa-section{
        margin-bottom: 1rem;
    }
   
    