.navbar {
  height: 10vh;
  background: rgb(250, 249, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;

}

.navbar-logo {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: center;
  height: 10vh;
}

.nav-item {
  display: flex;

}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: rgb(0, 212, 212);
}
@media screen  and (max-width:768px){
  .navbar{
    position: absolute;
    background: white;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(212, 224, 237, 0.904);
    transition: .3s ease-in-out;
  }
  .navbar-logo{
    float: left;
   top: 0;
  }
    .nav-items{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: .5rem 0;
    top: 80px;

   }
  }
