.wrapper {
    position: relative;
    
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.container{
    width: 100%;
}
  
  .image {
    opacity: 1;
    display: block;
    width: 30%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .flex:hover .image {
    opacity: 0.3;
  }
  
  .flex:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .flex{
    display: flex;
  flex-direction: column;
 width: 50%;
  }
